@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins&display=swap');

@font-face {
  font-family: 'Mono';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'MonoMedium';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/JetBrainsMono-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'PlexMono';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/fonts/mono.woff') format('woff');
}

@font-face {
  font-family: 'Parabole';
  src: url('https://next-s3-public.s3.us-west-2.amazonaws.com/Parabole-Regular.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  --color-transparent: rgba(0, 0, 0, 0);

  --color-white: #ffffff;
  --color-white200: #f3fbff;
  --color-white300: #dfeaef;
  --color-white-transparent: #f9f9f978;
  --color-beige: #fffdf5;

  --color-black: #000000;
  --color-black200: #202020;
  --color-blueblack: #022232;
  --color-black-fade: linear-gradient(to bottom, #022232 0%, #000000 20%);
  --color-rainbow: linear-gradient(to left, #E01633, #CDB235, #4FD3CD, #0098C9);

  --color-gray: #848383;

  --color-gray-transparent: #84838332;
  --color-gray-transparent100: #9b9b9bbc;
  --color-gray-transparent200: #9393938a;
  --color-text: #000000;
  --text-black: #000000;
  --text-white: #ffffff;

  --font-size-small: 12px;
  --font-size-regular: 16px;
  --font-size-medium: 24px;
  --font-size-large: 32px;
  --font-size-extra-large: 42px;
  --font-size-mega-large: 56px;

  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-semi-bold: 700;
  --font-weight-bold: 800;

  --border-radius-tiny: 0.2rem;
  --border-radius-small: 0.5rem;

  --z-index-small: 1;
  --z-index-medium: 2;
  --z-index-large: 3;

  font-size: 16px;
  background: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  // scrollbar-width: none;
  // -ms-overflow-style: -ms-autohiding-scrollbar;
  --page-gutters-desktop: 3rem;

  // ---------------------------------------------------------------------- Other
  --page-gutters-default: 0 16px 0 16px;
  --page-gutters-desktop-default: 16px;
  --page-gutters-desktop: 0 88px 0 88px;
  --page-gutters-desktop-one-side: 88px;

  --page-width: 1440px;

  ::-webkit-scrollbar {
    display: none;
  }
}
