.mainTitle {
  font-family: 'Inter';
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-extra-large);
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: var(--font-size-large);
  }
}

.subtitle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
}

.directionRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media (max-width: 765px) {
    flex-direction: column;
  }
}

.directionColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}
