.mainTitle {
  font-family: 'Inter';
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-extra-large);
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: var(--font-size-large);
  }
}

.subtitle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
}

.directionRow {
  display: grid;
  gap: 2rem;

  @media (max-width: 765px) {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    gap: 1rem;
  }
}

.directionCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  // @media (max-width: 1050px) {
  //   overflow: scroll;
  // }
}

.directionCol2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }
}

.directionCol3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }
}

.directionCol4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

.directionColumn {
  display: flex;

  @media (max-width: 1032px) {
    overflow: hidden;
  }
}
