.black {
  background: var(--color-text);
  border-bottom: none;
  border-radius: var(--border-radius-tiny);
  font-size: 1rem;
  color: var(--color-white);
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    background: var(--color-black200);
  }
}

.button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  border-bottom: none;
  border-radius: var(--border-radius-tiny);
  font-size: 1rem;
  border: none;

  @media (max-width: 768px) {
    font-size: var(--font-size-regular);
    padding: 0.5rem;
  }
}

.borderButton {
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--border-radius-tiny);
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: var(--font-size-regular);
  }
}
