.navbar {
  height: 150px;
  background: var(--color-blueblack);
}

.header {
  padding-bottom: 1rem;
  color: var(--color-white);
}

.date {
  font-size: var(--font-size-small);
  color: var(--color-white);
  text-transform: uppercase;
}

.location {
  font-size: var(--font-size-small);
  color: var(--color-white300);
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  color: var(--color-white);
  z-index: var(--z-index-large);
  gap: 1rem;
  @media (max-width: 768px) {
    gap: 0rem;
  }
}

.linkAndArrowWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 3.5rem;

  @media (max-width: 768px) {
    width: 1rem;
    display: none;
  }
}

.arrow {
  height: 0.5rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}

.dropdownContainer {
  &:hover {
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: var(--z-index-small);
  height: 400px;
  background: var(--color-black);
  top: 80px;
  padding-top: 2rem;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 100%;
  }
}

.dropdownRow {
  display: flex;
  flex-direction: row;
  gap: 0rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .dropdownImage {
    height: 10rem;
    max-width: 16rem;
    object-fit: cover;
    border-radius: var(--border-radius-tiny);

    @media (max-width: 768px) {
      height: 100%;
      max-width: 100%;
    }
  }
}

.dropdownContainer {
  &:hover .dropdownContent {
    display: block;
    animation-name: revealAnimation;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
}

@keyframes revealAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 400px;

    @media (max-width: 768px) {
      height: 80vh;
    }
  }
}

.whiteText {
  color: #ffffff;

  @media (max-width: 768px) {
    font-size: var(--font-size-small);
  }
}

.columns {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.column {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
