.footerBody {
  overflow: hidden;
  background: linear-gradient(to left, #E01633, #CDB235, #4FD3CD, #0098C9);
}

.sectionFooter {
  border-top: 1px solid #000;
  color: var(--white);
  font-size: var(--font-size_small);
  z-index: var(--z-index-small);
  padding: 20px 0;
  line-height: leading(20, 14);

  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    font-size: var(--font-size-tiny-plus);
  }
}

.siteFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 100px;
    }
  }

  .referralsContainer {
    display: flex;
    align-items: center;

    .footerReferrals {
      padding: 0 15px; 
      color: black;
    }
  }

  .gridEqualHeight {
    display: flex;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: var(--font-weight-regular);

    @media (max-width: 850px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 550px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px 16px;
    }
  }

  .heading {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    padding-bottom: 24px;
    font-weight: var(--font-weight-semi-bold);

    @media (max-width: 768px) {
      font-size: 24px;
      padding-bottom: 24px;
      font-size: var(--font-size-regular);
    }
  }

  .subheading {
    font-size: var(--font-size-mini);
    line-height: leading(24, 16);
  }

  .link {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font-weight: var(--font-weight-regular);
  }

  // ===== > Disclaimer
  .disclaimer {
    margin: 0 8px 16px;
    flex-basis: 43%;
    max-width: 43%;
    padding: 32px 24px 32px 56px;

    .alignment {
      padding-right: 3rem;
      font-size: var(--font-size-regular);
      padding-bottom: 2.5rem;
    }

    .subheading {
      font-size: var(--fontSize_Mini);
      padding-bottom: 2.5rem;
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-regular);
    }

    .text {
      font-size: var(--fontSize_Tiny);
      line-height: var(--line-height-regular);
      font-weight: var(--font-weight-regular);
    }

    @media (max-width: 1032px) {
      padding: 24px 12px 12px 0px;
    }

    @media (max-width: 850px) {
      flex-basis: 100%;
      max-width: 100%;
    }

    @media (max-width: 550px) {
      grid-column: span 4;
    }
  }

  .disclaimer .logo img {
    height: 4rem;
    width: auto;
    padding-bottom: 24px;
  }

  // ===== > Filecoin Resources
  .columnContainer {
    flex-basis: 35%;

    .list {
      font-size: 1.125rem;
      font-weight: 500;
    }

    @media (max-width: 550px) {
      grid-column: span 2;
      flex-basis: 100%;
      width: 100%;
    }
  }

  .columnContainerCard {
    margin: 0 8px 16px;
    padding: 32px 24px 32px 56px;

    @media (max-width: 1032px) {
      padding: 16px 24px;
    }

    @media (max-width: 550px) {
      margin: 0 8px 16px;
    }

    .filResources li {
      display: block;
      transition: var(--transition-ease-in);
      border: none;
      list-style-type: none;
      position: relative;
      line-height: var(--line-height-small);
      padding-bottom: 8px;
      padding-top: 4px;
      line-height: var(--line-height-regular);
      font-size: var(--fontSize_Mini);

      &:hover {
        border-bottom: 0;
        transform: scale(1.05) translateX(0.425rem);
      }

      &:hover a {
        border-bottom: 0;
      }
    }
  }

  // ===== > Contact Us
  .sectionContact {
    display: flex;
    flex-direction: column;

    .textContact {
      @media (max-width: 640px) {
        padding-left: 0px;
      }
    }

    @media (max-width: 850px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column: span 2;
    }

    @media (max-width: 550px) {
      grid-column: span 4;
    }
  }

  .sectionContact .icon {
    max-width: 72px;
  }

  .contact {
    flex: 4 0;
    display: flex;
    flex-direction: row;
    margin: 0 8px 16px;
    padding: 24px 12px 12px 0px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 32px 24px;
    }
    @media (max-width: 550px) {
      display: none;
    }
  }

  .contact .description {
    line-height: var(--line-height-medium);
    font-size: var(--fontSize_Small);
    font-weight: var(--font-weight-regular);
    font-size: var(--fontSize_Mini);
  }

  .icon {
    max-width: 72px;

    display: none;
  }

  .icon img {
    margin-top: 16px;
    width: 100%;
    display: none;
  }

  .socials {
    flex: 3 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 8px 16px;
    padding: 24px 12px 12px 0px;

    .panelTop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-content: revert;

      .heading {
        padding-right: 16px;
      }

      @media (max-width: 640px) {
        flex-direction: row-reverse;
      }
      @media (max-width: 550px) {
        justify-content: flex-end;
      }
    }

    @media (max-width: 768px) {
      padding: 16px 24px;
    }
    @media (max-width: 550px) {
      grid-column: span 2;
    }
  }

  .socialIcons {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    width: 66%;
    position: absolute;
    bottom: 2rem;

    @media (max-width: 768px) {
      width: 100%;
      position: initial;
      padding-left: 0;
    }
  }

  .socialIconsRow {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 1rem;
  }

  .socialIconsRow {
    width: 100%;
    padding: 0;
  }

  .socailIcon {
    width: 100%;
    padding-bottom: 0;
    flex-basis: 16%;
    max-width: 16%;
  }

  .socailIcon .link {
    display: flex;
    flex-direction: row;
    transition: var(--transition-ease-in);
    border-bottom: 0;
  }

  .socialIconImage {
    transition: var(--transition-ease-in);
    margin: -4px;
    padding: 8px;
    width: 2.5rem;

    &:hover {
      border-bottom: 0;
      transform: scale(1);
    }
  }

  .socialIcons .link {
    display: flex;
    flex-direction: row;
    transition: var(--transition-ease-in);
    border-bottom: 0;

    &:hover {
      border-bottom: 0;
      transform: scale(1.15);
    }
  }
}

//Back To Top Buttom
.backToTopSection {
  display: none;

  @media (max-width: 640px) {
    align-items: center;
    cursor: pointer;
    display: block;
    display: flex;
    font-size: var(--font-size-regular);
    justify-content: center;
    margin: 0 auto;
    padding: 8px 16px;
    position: relative;
    top: 32px;
    transition: var(--transition-ease-in);
    width: 11rem;

    .toTop {
      font-weight: bold;
      color: var(--sky);

      &:hover {
        border-bottom: 0px;
      }
    }
  }

  @media (max-width: 550px) {
    top: 0px;
  }
}

// ===== > Copyright
.sectionCopyright {
  text-align: left;

  font-size: var(--font-size-tiny);

  .link {
    margin-right: 16px;
    padding: 8px 4px;
    border-bottom: 0.125rem solid transparent;
    transition: var(--transition-ease-in);
  }
}

.mobileContact {
  display: none;

  @media (max-width: 550px) {
    display: block;
    padding: 16px 24px;
    margin: 0 8px 16px;
    grid-column: span 2;
    font-size: var(--font-size-mini);
  }
}
