.footer {
  height: 200px;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.socialIconImage {
  width: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.link {
  font-weight: var(--font-weight-light);
}
