.container {
  padding: var(--page-gutters-desktop);
  max-width: var(--page-width);
  margin: 0 auto 0 auto;
  width: 100%;

  @media (max-width: 768px) {
    padding: var(--page-gutters-default);
  }
}
