.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4rem;
}

.rowGap {
  display: grid;
  row-gap: 1rem;
}

.backgroundImage {
  object-fit: cover;
  background-size: cover;
}

.textBackground {
  background: var(--color-white200);
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: var(--border-radius-small);

  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.row {
  display: flex;
  gap: 1rem;
}

.title {
  font-size: var(--font-size-extra-large);
  font-family: 'Inter';
  font-weight: var(--font-weight-light);
  letter-spacing: -1px;
  max-width: 24ch;

  @media (max-width: 768px) {
    font-size: var(--font-size-large);
  }
}

.date {
  font-family: 'Inter';

  font-weight: var(--font-weight-regular);
}

.description {
  max-width: 80ch;
  font-weight: var(--font-weight-light);

  @media (max-width: 768px) {
    font-size: var(--font-size-small);
  }
}

.location {
  font-family: 'Inter';
}

.label {
  background: var(--color-gray);
  width: fit-content;
  color: var(--color-white);
  font-family: 'Inter';
  padding: 0.2rem 0.5rem;
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-small);
}
