.container {
  width: 100%;
}

.title {
  font-family: 'Inter';
  font-size: var(--font-size-medium);
}

.image {
  height: 20rem;
  width: 100%;
  object-fit: cover;

  @media (max-width: 768px) {
    height: 12rem;
  }
}

.imageBackground {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius-small);
}
