.container {
  position: relative;
}

.image {
  width: 100%;
  object-fit: cover;
  display: block;
  max-height: 50vh;

  @media (max-width: 768px) {
    max-height: 15rem;
  }
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: Inter;
  font-weight: var(--font-weight-regular);
}

.heading {
  font-family: 'Inter';
  font-size: var(--font-size-mega-large);
  font-weight: var(--font-weight-light);

  @media (max-width: 768px) {
    font-size: var(--font-size-large);
  }
}

.description {
  text-align: right;
  padding-bottom: 1rem;
  font-family: 'Inter';
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);

  @media (max-width: 1050px) {
    font-size: var(--font-size-regular);
  }

  @media (max-width: 768px) {
    font-size: var(--font-size-small);
  }
}

.blackAndWhiteFilter {
  transition: filter 0.3s ease;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: rgb(136, 110, 110);
}
