.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 1032px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.text {
  width: 30%;

  @media (max-width: 1032px) {
    width: 100%;
  }
}

.gridLarge {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.gridMedium {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridSmall {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridItem,
.logo,
.logoSmall {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 5rem;
  object-fit: contain;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.logoLarge {
  padding: 0.5rem 2rem;

  @media (max-width: 768px) {
    padding: 0.5rem 0.5rem;
  }
}

.logoSmall {
  padding: 0.5rem;
}

.logoMedium {
  padding: 0.5rem 2rem;

  @media (max-width: 768px) {
    padding: 0.5rem 0.5rem;
  }

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
