.navbar {
  position: sticky;
  top: 0;
  z-index: var(--z-index-medium);
}

.container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .list {
    font-weight: var(--font-weight-light);
    display: flex;
    gap: 16px;
    list-style: none;

    @media (max-width: 768px) {
      display: none; //to do: add mobile menu
    }
  }

  .listItem {
    cursor: pointer;
  }
}

.logo {
  height: 2rem;
}
