.navbar {
  position: sticky;
  top: 0;
  z-index: var(--z-index-large);
}

.container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .list {
    display: flex;
    gap: 16px;
    list-style: none;
  }

  .listItem {
    cursor: pointer;
  }
}

.logo {
  height: 32px;
}
