.navbar {
  background: var(--color-white200);
}

.container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .list {
    display: flex;
    gap: 16px;
    list-style: none;
  }

  .listItem {
    cursor: pointer;
  }
}
.logo {
  height: 48px;
}
.button {
  background: var(--color-text);
  border-bottom: none;
  border-radius: var(--border-radius-tiny);
  font-size: 1rem;
  color: var(--color-white);
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    background: var(--color-black200);
  }
}
