.container {
  width: 100%;
}

.headers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--color-text);
  color: var(--color-white);
  font-size: var(--font-size-small);
  top: 5rem;
  z-index: var(--z-index-small);

  @media (max-width: 1040px) {
    top: 0rem;
  }

  @media (max-width: 768px) {
    top: 0rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.heading {
  width: 100%;
  min-width: 150px;
  background: var(--color-text);
  color: var(--color-white);
  display: flex;
  gap: 3rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  font-size: var(--font-size-small);
}

.schedule {
  display: flex;
  overflow: auto;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: auto;
}

.eventStyle {
  background: var(--color-gray-transparent);
  border-left: 0.5px solid var(--color-black);
  width: 100%;
  cursor: pointer;
  transition: 0.05s ease;
  min-width: 150px;
}

.eventBox {
  padding: 1rem;
  font-family: Inter;
  display: flex;
  border-bottom: 0.5px solid var(--color-black);
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-size-small);
  height: 180px;

  &:hover {
    background: var(--color-gray-transparent200);
  }

  @media (max-width: 768px) {
    height: 250px;
  }
}

.eventName {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-small);
}

.time {
  font-weight: var(--font-weight-semi-bold);
}

.absoluteContainer {
  position: fixed;
  top: 0;
  left: 0;

  z-index: var(--z-index-large);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;

  &.active {
    z-index: var(--z-index-large);
  }

  @media (max-width: 1680px) {
    min-width: 50vw;
  }

  @media (max-width: 1024px) {
    min-width: 65vw;
  }

  @media (max-width: 768px) {
    min-width: 85vw;
  }

  @media (max-width: 520px) {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-transparent100);
  z-index: var(--z-index-large);
}

.bigCTA {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0.5rem;
  border-radius: var(--border-radius-tiny);
  align-items: center;
  display: flex;
  color: var(--color-black);

  &:hover {
    background: var(--color-gray-transparent200);
  }

  .bigCTARow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .bigCTATitle {
    color: var(--color-black);
    font-family: 'Inter';
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-light);

    @media (max-width: 768px) {
      font-size: var(--font-size-large);
    }
  }
}

//To Do: make it dissapear when there is no scroll at all
.sectionScrollTooltip {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
}
