.container {
  display: grid;
  row-gap: 1rem;
}

.scheduleTitle {
  color: var(--color-white);
  font-size: 50px;
  padding-bottom: 5rem;

  @media (max-width: 768px) {
    font-size: 44px;
    padding-bottom: 2rem;
  }
}

.headers {
  padding-bottom: 1rem;
  display: grid;
  gap: 1rem;
  color: var(--color-white);
  font-size: var(--font-size-small);
  top: 60px;
  z-index: var(--z-index-small);

  @media (max-width: 768px) {
    top: 0rem;
  }
}

.heading {
  display: flex;
  width: 100%;
  min-width: 150px;
  grid-column: span 1;
  background-color: var(--color-blue);
  color: var(--color-white);
  gap: 3rem;
  padding: 0.9rem 0.75rem;
  justify-content: space-between;
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius-small);
}

.hideEmptyHeadingsMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.schedule {
  display: grid;
  align-items: stretch;
  display: grid;
  gap: 1rem;

  @media (max-width: 768px) {
    padding-top: 0rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.mobileTooltip {
  display: none;

  @media (max-width: 768px) {
    display: block;

    color: var(--color-white);
    padding-bottom: 1.5rem;
  }
}

.dateColumn {
  display: flex;
  flex-direction: column;
}

.eventStyle {
  width: 100%;
  cursor: pointer;
  transition: 0.05s ease;
  min-width: 150px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eventBox {
  position: relative;
  padding: 0.75rem;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-size-small);
  height: 200px;
  transition: background 200ms ease-in, box-shadow 200ms ease-in;
  border-radius: var(--border-radius-small);
  overflow: hidden;

  @media (max-width: 1440px) {
    height: 210px;
  }

  @media (max-width: 1140px) {
    height: 260px;
  }

  @media (max-width: 1024px) {
    height: 260px;
  }

  @media (max-width: 768px) {
    height: 250px;
  }
}

.rainbowBorderWrapper {
  background: var(--color-rainbow);
  border-radius: var(--border-radius-small);
  padding: 2px;
  display: inline-block;

  width: 100%;
  z-index: var(--z-index-small);

  @media (max-width: 768px) {
    width: 100%;
  }
}

.eventBox:hover {
  background: var(--color-rainbow-diagonal);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.eventBox:hover::before {
  border-color: var(--color-rainbow); /* Make the base border color transparent to reveal the gradient on hover */
}

.eventName {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-regular-small);
}

.time {
  font-size: var(--font-size-regular-small);
}

.fixedContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-large);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;

  &.active {
    z-index: var(--z-index-large);
  }

  @media (max-width: 1680px) {
    min-width: 50vw;
  }

  @media (max-width: 1024px) {
    min-width: 65vw;
  }

  @media (max-width: 768px) {
    min-width: 85vw;
  }

  @media (max-width: 520px) {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-transparent100);
  z-index: var(--z-index-large);
}

.bigCTA {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 1.5rem;
  border-radius: var(--border-radius-tiny);
  align-items: center;
  display: flex;
  color: var(--color-black);

  &:hover {
    background: var(--color-gray-transparent200);
  }

  .bigCTARow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .bigCTATitle {
    color: var(--color-black);
    font-family: 'Inter';
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-light);

    @media (max-width: 768px) {
      font-size: var(--font-size-large);
    }
  }
}

//To Do: make it dissapear when there is no scroll at all
.sectionScrollTooltip {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media (max-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
  }
}

.people {
  font-size: var(--font-size-regular-small);
}

.speakers {
  font-size: var(--font-size-regular-small);
}

.location {
  font-size: var(--font-size-regular-small);
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.callToAction {
  position: relative;
  border: 1px solid var(--color-blue-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: inherit;
  border-radius: var(--border-radius-small);
  transition: background 200ms ease;
  background: transparent;
  overflow: hidden;
}

.callToAction::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  border-image: linear-gradient(to bottom right, var(--gradient-border-blue-green));
  border-image-slice: 1;
  z-index: -1;
  transition: opacity 200ms ease;
  opacity: 0;
}

.callToAction:hover {
  background: linear-gradient(to bottom right, var(--gradient-border-blue-green-transparent));
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.callToAction:hover::before {
  opacity: 1;
}

.callToActionTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}

.callToActionText {
  padding-bottom: 1.25rem;
  color: var(--color-black);
}

.plusIcon {
  color: var(--color-black);
  font-weight: var(--font-weight-light);
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--color-blue-gray);
  border-radius: 1rem;
}

.link {
  text-decoration: none;
}

.hideItems {
  @media (max-width: 768px) {
    display: none;
  }
}

.scheduleWrapper {
  overflow: scroll;
}
.expandCollapseButton {
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowUp,
.arrowDown {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
}

.arrowUp {
  border-bottom: 5px solid;
}

.arrowDown {
  border-top: 5px solid;
}

.scheduleToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-blue-gray);
  padding: 2rem 2rem;
  border-radius: var(--border-radius-small);
  cursor: pointer;

  &:hover {
    background: var(--color-blue);
    border: 1px solid var(--color-white);
    transition: background 200ms ease;
    color: var(--color-white);
  }
}
