.container {
}

.schedule {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

.eventHeading {
  width: 100%;
  background: var(--color-text);
  color: var(--color-white);
  display: flex;
  gap: 3rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  font-size: var(--font-size-small);
  // border-left: 0.5px solid var(--color-white);
  // border-right: 0.5px solid var(--color-white);
}

.eventStyle {
<<<<<<< HEAD
  border-left: 0.5px solid var(--color-text);
=======
  background: var(--color-gray-transparent);
  border-left: 0.5px solid var(--color-gray-transparent);
>>>>>>> c47bcce (updated calendar styles)
  width: 100%;
  cursor: pointer;
  transition: 0.05s ease;
}

.eventBox {
  background: var(--color-white);
  padding: 1rem;
  font-family: Inter;
  display: flex;
  border-bottom: 0.5px solid var(--color-gray-transparent200);
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-size-small);
  height: 180px;

  &:hover {
    background: var(--color-gray-transparent);
  }
}

.eventName {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-small);
}

.time {
  font-weight: var(--font-weight-semi-bold);
}

.bigCTA {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 1.5rem;
  border-radius: var(--border-radius-tiny);
  align-items: center;
  display: flex;
  color: var(--color-black);

  &:hover {
    background: var(--color-gray-transparent200);
  }

  .bigCTARow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .bigCTATitle {
    color: var(--color-black);
    font-family: 'Inter';
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-light);

    @media (max-width: 768px) {
      font-size: var(--font-size-large);
    }
  }
}

.absoluteContainer {
  position: fixed;
  top: 0;
  left: 0;

  z-index: var(--z-index-large);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;
  z-index: var(--z-index-small);

  &.active {
    z-index: var(--z-index-small);
  }

  @media (max-width: 1680px) {
    min-width: 50vw;
  }

  @media (max-width: 1024px) {
    min-width: 65vw;
  }

  @media (max-width: 768px) {
    min-width: 85vw;
  }

  @media (max-width: 520px) {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-transparent100);
  z-index: var(--z-index-small);
}
