.popup {
  //   position: absolute;
  padding: 1rem 2rem;
  border: 2px solid var(--text-black);
  border-radius: var(--border-radius-tiny);
  font-family: Inter;
}

.eventName {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

.description {
  max-width: 80ch;
}

.tableHeader {
  display: flex;
  flex-direction: row;

  border: 1px solid var(--text-black);
  padding: 0.5rem;
  background: var(--color-black);
}

.tableRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--text-black);
  padding: 0.5rem;
}

.headerTitle {
  font-family: Mono;
  color: var(--color-white);
  font-size: var(--font-size-small);
}
.col25 {
  width: 25%;
}

.col50 {
  width: 50%;
}

.scheduleContainer {
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
