.container {
  // width: 100%;
  display: grid;
  row-gap: 1rem;
}

.headers {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 1rem;
  color: var(--color-white);
  font-size: var(--font-size-small);
<<<<<<< HEAD
  top: 5rem;
  z-index: var(--z-index-small);

  @media (max-width: 1040px) {
    top: 0rem;
  }

=======
  top: 60px;
  z-index: var(--z-index-small);

>>>>>>> 2127ccc (added track details)
  @media (max-width: 768px) {
    top: 0rem;
    grid-template-columns: repeat(3, 200px);
  }
}

.heading {
  display: flex;
  width: 100%;
  min-width: 150px;
  grid-column: span 1;
  background-color: var(--color-blue);
  color: var(--color-white);
  gap: 3rem;
  padding: 0.9rem 0.75rem;
  justify-content: space-between;
  font-size: var(--font-size-regular);
}

.hideEmptyHeadingsMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.schedule {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
  display: grid;
  gap: 1rem;

  @media (max-width: 1050px) {
    padding-top: 2rem;
  }

  @media (max-width: 768px) {
    padding-top: 0rem;
    grid-template-columns: repeat(3, 200px);
  }
}

.dateColumn {
  display: flex;
  flex-direction: column;
}
.eventStyle {
  width: 100%;
  cursor: pointer;
  transition: 0.05s ease;
  min-width: 150px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eventBox {
  padding: 0.75rem;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-size-small);
  height: 200px;
  border: 2px solid var(--color-blue-gray);
  background: var(--color-white);
  transition: background 200ms ease-in;

  &:hover {
    background: linear-gradient(to bottom right, var(--gradient-border-blue-green-transparent));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, var(--gradient-border-blue-green));
    border-image-slice: 1;
  }

  @media (max-width: 1140px) {
    height: 240px;
  }

  @media (max-width: 1024px) {
    height: 240px;
  }

  @media (max-width: 768px) {
    height: 250px;
  }
}

.eventName {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-regular-small);
}

.time {
  font-size: var(--font-size-regular-small);
}

.absoluteContainer {
  position: fixed;
  top: 0;
  left: 0;

  z-index: var(--z-index-large);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;

  &.active {
    z-index: var(--z-index-large);
  }

  @media (max-width: 1680px) {
    min-width: 50vw;
  }

  @media (max-width: 1024px) {
    min-width: 65vw;
  }

  @media (max-width: 768px) {
    min-width: 85vw;
  }

  @media (max-width: 520px) {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-transparent100);
  z-index: var(--z-index-large);
}

.bigCTA {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 1.5rem;
  border-radius: var(--border-radius-tiny);
  align-items: center;
  display: flex;
  color: var(--color-black);

  &:hover {
    background: var(--color-gray-transparent200);
  }

  .bigCTARow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .bigCTATitle {
    color: var(--color-black);
    font-family: 'Inter';
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-light);

    @media (max-width: 768px) {
      font-size: var(--font-size-large);
    }
  }
}

//To Do: make it dissapear when there is no scroll at all
.sectionScrollTooltip {
  display: none;
<<<<<<< HEAD

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
=======
>>>>>>> 2127ccc (added track details)

  @media (max-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
  }
}

.people {
  font-size: var(--font-size-regular-small);
}

.speakers {
  font-size: var(--font-size-regular-small);
}

.location {
  font-size: var(--font-size-regular-small);
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.callToAction {
  border: 2px solid var(--color-blue-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: inherit;

  &:hover {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, var(--gradient-border-blue-green));
    border-image-slice: 1;
    background: linear-gradient(to bottom right, var(--gradient-border-blue-green-transparent));
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .callToActionTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
  }

  .callToActionText {
    padding-bottom: 1.25rem;
    color: var(--color-black);
  }

  .plusIcon {
    color: var(--color-black);
    font-weight: var(--font-weight-medium);
  }
}

.link {
  text-decoration: none;
}

.hideItems {
  @media (max-width: 768px) {
    display: none;
  }
}

.scheduleWrapper {
  overflow: scroll;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> d59c4cc (added speaker section)
}
