.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.headerText {
  display: grid;
  row-gap: 1rem;
  width: 55%;
  color: var(--text-white);
  z-index: var(--z-index-medium);

  @media (max-width: 768px) {
    width: 100%;
  }
}

.squaresClass {
  width: 100%;
  height: 200%;
  position: absolute;

  @media (max-width: 1050px) {
    width: 100%;
    height: 100%;
    display: none;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    top: -10%;
  }

  @media (max-width: 488px) {
    width: 100%;
    height: 100%;
    top: -20%;
  }
}

.imageWrapper {
  z-index: var(--z-index-medium);
  position: relative;
}

.imageStyle {
  object-fit: cover;
  border-radius: var(--border-radius-small);
  margin-bottom: 2rem;

  img {
    z-index: var(--z-index-medium);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  @media (max-width: 768px) {
    img {
      z-index: var(--z-index-medium);
      width: 100%;
      height: 100%;
    }
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .imageAndTextWrapper {
    display: flex;
    align-items: center;

    img {
      margin-left: 5rem; // Add left margin to move the image to the right
      height: 30px; // Adjust the height as needed
      height: 2.5rem; // Adjust the width as needed
      object-fit: cover; // Makes sure the image maintains aspect ratio

      @media (max-width: 768px) {
        margin-left: 0rem;
      }
    }

    .impactText {
      color: var(--color-white);
      margin-left: 16px;
      font-size: 25px;
      font-family: Inter;
    }
  }
}

.videoTitle {
  display: grid;
  row-gap: 1rem;
  width: 100%;
  height: 10%;
  color: var(--text-white);
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.pageContainer {
  background: linear-gradient(to bottom, #022232 0%, var(--color-black) 20%);
}

.rainbowBorderWrapper {
  background: linear-gradient(to left, #e01633, #cdb235, #4fd3cd, #0098c9);
  border-radius: var(--border-radius-small);
  padding: 2px;
  display: inline-block;
  margin-bottom: 2rem;
  width: 70%;
  z-index: var(--z-index-small);

  @media (max-width: 768px) {
    width: 100%;
  }
}

.innerContent {
  background: var(--color-black);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: Inter;
  padding: 1rem;

  @media (max-width: 1030px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.diptychHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .centerTextContainer {
    padding: 2rem 0;

    @media (max-width: 768px) {
      padding-top: 0.75rem;
      padding-bottom: 0.01rem;
    }

    .boldText {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 2px;
      font-family: Inter;
    }

    .newlineText {
      display: block;
      font-family: Inter;
      text-align: left;
    }

    .newlineBoldText {
      display: block;
      font-family: Inter;
      text-align: left;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    border-right: 0;
  }
}

.button {
  background: var(--color-text);
  border-bottom: none;
  border-radius: var(--border-radius-tiny);
  font-size: 1rem;
  color: var(--color-white);
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    background: var(--color-black200);
  }
}

.rainbowButton {
  background: var(--color-rainbow);
  border-bottom: none;
  border-radius: var(--border-radius-small);
  font-size: 1rem;
  color: var(--color-black);
  padding: 1rem;
  cursor: pointer;
  border: none;
  font-family: Inter;
  font-weight: 500;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background: var(--color-black200);
    color: var(--color-white);
  }
}

.col40 {
  width: 40%;
}

.col50 {
  width: 50%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.mediaContainer,
.videoSquiggleContainer {
  position: relative;
}

.mediaContainer {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  gap: 1rem;
  z-index: var(--z-index-medium);
  // margin-bottom: 5rem;
}

.squiggleContainer {
  z-index: var(--z-index-small);
}

.videoSquiggleContainer {
  z-index: var(--z-index-small);
  top: 155%;
  left: 5%;
  position: absolute;

  @media (max-width: 768px) {
    top: 110%;
  }
}

.videoSquiggleStyle {
  @media (max-width: 1020px) {
    width: 80%;
    height: auto;
    display: none;
  }

  @media (max-width: 768px) {
    width: 60%;
    height: auto;
    display: none;
  }
}

.topSquiggleContainer {
  right: 10%;
  top: 17%;
  overflow: hidden;
  position: absolute;

  @media (max-width: 1440px) {
    right: 5%;
    top: 20%;
  }

  @media (max-width: 1020px) {
    right: 0%;
    top: 25%;
  }

  @media (max-width: 768px) {
    right: 0%;
    top: 17%;
  }
}

.topSquiggleStyle {
  overflow: hidden;
  width: 110%;
  height: auto;
  z-index: 0;

  @media (max-width: 1440px) {
    width: 110%;
    height: 100%;
  }

  @media (max-width: 1020px) {
    width: 110%;
    height: 100%;
    filter: brightness(95%);
  }

  @media (max-width: 768px) {
    width: 150%;
    height: 100%;
    filter: brightness(80%) hue-rotate(20deg);
  }
}


.bottomSquiggleContainer {
  left: 75%;
  top: 255%;
  overflow: hidden;
  position: absolute;
  clip-path: inset(0);

  @media (max-width: 1600px) {
    top: 295%;
  }

  @media (max-width: 1050px) {
    top: 315%;
  }

  @media (max-width: 768px) {
    top: 365%;
    left: 85%;
    display: none;
  }
}

.bottomSquiggleStyle {
  overflow: hidden;
  width: 100%;
  height: auto;

  @media (max-width: 1020px) {
    height: auto;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.image {
  border-radius: var(--border-radius-small);
  cursor: pointer;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.grid4cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1rem;

  @media (max-width: 1032px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.flexContainer {
  display: flex;
  gap: 2rem;
}

.h4 {
  font-size: var(--font-size-medium);
  font-weight: 400;
  max-width: 50ch;
}

.p {
  font-size: var(--font-size-regular);
}

.campEvents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: var(--border-radius-small);
  z-index: var(--z-index-medium);
  background: linear-gradient(to left, #e01633, #cdb235, #4fd3cd, #0098c9);
  padding: 1px;
  box-sizing: border-box;

  > * {
    background: black;
    border-radius: calc(var(--border-radius-small) - 1px);
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .greaterRainbowText {
    font-size: 5rem;
    background-image: linear-gradient(to bottom, #e01633 25%, #cdb235, #4fd3cd 70%, #0098c9 90%);
    -webkit-background-clip: text;
    color: transparent;

    @media (max-width: 1050px) {
      font-size: 3rem;
    }
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .lesserRainbowText {
    font-size: 2rem;
    background-image: linear-gradient(to bottom, #e01633 25%, #cdb235, #4fd3cd 70%, #0098c9 90%);
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 1rem;
    @media (max-width: 768px) {
      margin-right: 0rem;
    }
  }

  .whiteText {
    font-size: 2rem;
    color: var(--text-white);
    font-weight: var(--font-weight-light);

    @media (max-width: 1050px) {
      font-size: 1.5rem;
    }
  }

  .lineOne {
    padding: 2rem;
    display: flex;
    flex-direction: revert;
    border-bottom: 1px solid var(--color-white);
    white-space: nowrap;

    @media (max-width: 1050px) {
      padding: 0rem;
      border-bottom: none;
      flex-direction: column;
    }
  }

  .lineTwo {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: revert;

    @media (max-width: 1050px) {
      padding: 0%;
      gap: 2rem;
      flex-direction: column;
    }
  }

  .campEventsStatsPartOne {
    padding: 1rem;
    width: 100%;
    @media (max-width: 768px) {
      border-bottom: 1px solid var(--color-white);
    }
  }

  .campEventsStatsPartTwo {
    width: 100%;
    display: flex;
    white-space: nowrap;
    @media (max-width: 768px) {
      display: inline-block;
      padding: 1rem;
      border-bottom: 1px solid var(--color-white);
      gap: 0.5rem;
    }

    &:last-child {
      @media (max-width: 768px) {
        border-bottom: 0;
      }
    }
  }

  .statsColumnRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    gap: 4.5rem;
    padding-left: 3rem;
    width: 100%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    @media (max-width: 768px) {
      padding-left: 1rem;
      padding: 0rem;
      border-top-right-radius: 0%;
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0.5rem;
      gap: 0rem;
    }
  }

  .statsColumnLeft {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    grid-column: 1/3;
    border-right: 1px solid var(--text-white);

    @media (max-width: 768px) {
      border-bottom-left-radius: 0%;
      border-top-right-radius: 0.5rem;
      width: 100%;
      grid-column: 1;
      border-right: 0;
    }
  }
}

.sectionTitle {
  color: var(--color-white);
  padding-bottom: 1rem;
  font-weight: var(--font-weight-light);
}

.centeredSectionTitle {
  color: var(--color-white);
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 4rem;
  justify-content: center;
  font-weight: var(--font-weight-light);
  text-align: center;
  z-index: var(--z-index-medium);
}

.getInvolvedColumns {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .involvementColumn {
    flex: 1;
    margin: 1 1rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
  }

  .involvementContent {
    z-index: var(--z-index-medium);
    background: black;
    color: var(--color-white);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-family: Inter;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    p {
      margin: 0;
      flex: 1;
    }

    .involvementText {
      font-family: Inter;
      color: var(--text-white);
    }

    &:hover {
      background: linear-gradient(to left, #e01633, #cdb235, #4fd3cd, #0098c9);
    }
  }
}

.faqSection {
  .faqColumns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .faqLeft,
    .faqRight {
      flex: 1;
      margin: 0 1rem;
      z-index: var(--z-index-medium);

      @media (max-width: 768px) {
        margin: 0;
      }

      .faqBorderWrapper {
        z-index: var(--z-index-medium);
        margin-bottom: 1rem;
        width: 100%;
        margin: 1rem 0;

        &:hover {
          cursor: pointer;
        }

        @media (max-width: 768px) {
          margin: 1rem 0;
          margin-bottom: 0rem;
        }
      }

      .faqContent {
        z-index: var(--z-index-medium);
        background: linear-gradient(to left, #e01633, #cdb235, #4fd3cd, #0098c9);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 2rem;
        font-family: Inter;

        &.open {
          border-radius: 10px 10px 0px 0px;
        }

        position: relative;

        p {
          margin: 0;
          flex: 1;
        }

        .plusSymbol {
          margin-left: auto;
          font-size: 1rem;
          font-family: Inter;
          transform: scale(2);
        }
      }

      .faqAnswer {
        background: linear-gradient(to left, #e01633, #cdb235, #4fd3cd, #0098c9);
        padding: 0rem 2rem 2rem 2rem;
        border-radius: 0px 0px 10px 10px;
        z-index: var(--z-index-medium);
        transition: max-height 0.5s ease-in-out;
        font-family: Inter;

        font-size: var(--font-size-tiny);
        font-family: Inter;
        font-weight: var(--font-weight-light);
        letter-spacing: -0.003em;
        line-height: 1.6rem;
      }

      .faqAnswer.open {
        max-height: 100vh; // or a calculated max-height
      }
    }
  }
}

.campYearbookSection {
  background: linear-gradient(to left, #e01633, #cdb235, #4fd3cd, #0098c9);
  text-align: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 7rem;

  .yearbookTitle {
    color: var(--color-black);
    padding: 5rem 0;
    font-size: 2rem;
    font-family: Inter;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .yearButton {
    background-color: var(--color-black);
    border: none;
    border-radius: 50px;
    color: var(--text-white);
    padding: 10px 20px;
    font-size: 1rem;
    padding: 20px 80px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
}

.calander {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.mainTitle {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-text);
}

.containerOverImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  background: var(--color-text);
  height: 4.5rem;
  color: var(--color-white);
  padding: 1rem;
  font-size: var(--font-size-small);
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  margin-top: -3rem;
  position: relative;
}

.smallText {
  font-size: var(--font-size-small);
}

.twoColumns {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.h3,
.h1 {
  font-family: Inter;
}

.h2 {
  font-weight: var(--font-weight-regular);
  font-family: Inter;
  font-size: 22px;
}

.p {
  font-family: Inter;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: Inter;
  font-size: var(--font-size-regular);
  font-family: var(--font-size-small);
  font-weight: var(--font-weight-light);
  line-height: 1.6rem;
}

.h3 {
  font-weight: var(--font-weight-regular);
}
