.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.headerText {
  display: grid;
  row-gap: 1rem;
  width: 55%;
  color: #ffffff;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.imageClass {
  object-fit: cover;
  border-radius: var(--border-radius-small);

  img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: inherit;
  }

  @media (max-width: 768px) {
    width: 15%;
    height: 7.5%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 0;

  .imageAndTextWrapper {
    display: flex;
    align-items: center;
    margin-right: 5rem;

    img {
      margin-left: 5rem; // Add left margin to move the image to the right
      height: 30px; // Adjust the height as needed
      width: 124.86px; // Adjust the width as needed
      object-fit: cover; // Makes sure the image maintains aspect ratio
    }

    .impactText {
      color: #ffffff;
      margin-left: 16px;
      font-size: 25px;
      font-family: Inter;
    }
  }
}

.videoTitle {
  display: grid;
  row-gap: 1rem;
  width: 100%;
  height: 10%;
  color: #ffffff;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.pageContainer {
  background: linear-gradient(to bottom, #022232 0%, #000000 20%);
}

.rainbowBorderWrapper {
  background: linear-gradient(to left, #E01633, #CDB235, #4FD3CD, #0098C9);
  border-radius: 12px;
  padding: 2px;
  display: inline-block;
  margin-bottom: 2rem;
}

.innerContent {
  background: black;
  border-radius: 10px;
  display: flex; 
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: Inter;
}

.diptychHalf{
  flex: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;

  .centerTextContainer {
    padding: 2rem 0;

    .boldText {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 2px;
      font-family: Inter;
    }
    
    .newlineText {
      display: block;
      font-family: Inter;
      text-align: left;
    }
  
    .newlineBoldText {
      display: block;
      font-family: Inter;
      text-align: left;
      font-weight: bold;
    }
  }
}

.diptychHalf:last-child{
  border-right: 0;
}

.button {
  background: var(--color-text);
  border-bottom: none;
  border-radius: var(--border-radius-tiny);
  font-size: 1rem;
  color: var(--color-white);
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    background: var(--color-black200);
  }
}

.col40 {
  width: 40%;
}

.col50 {
  width: 50%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.mediaContainer, .videoSquiggleContainer {
  position: relative;
}

.mediaContainer {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  gap: 1rem;
  z-index: 2;
  margin-bottom: 5rem;
}

.squiggleContainer {
  z-index: 1;
}

.videoSquiggleContainer {
  z-index: 1;
  top: 145%;
  left: 0;
  position: absolute;

  @media (max-width: 768px) {
    top: 110%;
  }
}

.topSquiggleContainer {
  top: 20%;
  left: 55%;
  position: absolute;
}

.bottomSquiggleContainer {
  top: 320%;
  left: 70%;
  position: absolute;
}

.image {
  border-radius: var(--border-radius-small);
  cursor: pointer;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.grid4cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1rem;

  @media (max-width: 1032px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.flexContainer {
  display: flex;
  gap: 2rem;
}

.h4 {
  font-size: var(--font-size-medium);
  font-weight: 400;
  max-width: 50ch;
}

.p {
  font-size: var(--font-size-regular);
}

.campEvents { 
  display: flex;
  justify-content: space-between;

  .greaterRainbowText {
    font-size: 5rem;
    background-image: linear-gradient(to bottom, #E01633 25%, #CDB235, #4FD3CD 70%, #0098C9 90%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .lesserRainbowText {
    font-size: 2rem;
    background-image: linear-gradient(to bottom, #E01633 25%, #CDB235, #4FD3CD 70%, #0098C9 90%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .whiteText {
    font-size: 2rem;
    color: white;
  }
  
  .statsColumnLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .lineOne {
      display: flex;
      justify-content: space-between;
      gap: 10rem;
      margin-bottom: 5rem;
      white-space: nowrap;
    }
    
    .lineTwo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  .statsColumnRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20%;
  }
}

.sectionTitle {
  color: #ffffff;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.centeredSectionTitle {
  color: #ffffff;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 4rem;
  justify-content: center;
  text-align: center;
}

.getInvolvedColumns {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .involvementColumn {
    flex: 1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .involvementContent {
    background: black;
    color: #ffffff;
    border-radius: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-family: Inter;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    
    p {
      margin: 0;
      flex: 1;
    }

    .involvementText {
      font-family: Inter;
      color: white;
    }

    &:hover {
      background: linear-gradient(to left, #E01633, #CDB235, #4FD3CD, #0098C9);
    }
  }
}

.faqSection {
  .faqColumns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
  
    .faqLeft,
    .faqRight {
      flex: 1;
      margin: 0 1rem;
  
      .faqBorderWrapper {
        z-index: 2;
        margin-bottom: 1rem;
        width: 100%;
        margin: 1rem 0;
      }
  
      .faqContent {
        z-index: 2;
        background: linear-gradient(to left, #E01633, #CDB235, #4FD3CD, #0098C9);
        border-radius: 10px;
        display: flex; 
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 2rem;
        font-family: Inter;
  
        position: relative;
  
        p {
          margin: 0;
          flex: 1;
        }
  
        .plusSymbol {
          margin-left: auto;
          font-size: 1rem;
          font-family: Inter;
          transform: scale(2);
        }
      }
    }
  }
}

.campYearbookSection {
  background: linear-gradient(to left, #E01633, #CDB235, #4FD3CD, #0098C9);
  text-align: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 7rem;

    .yearbookTitle{
      color: #000;
      padding: 5rem 0;
      font-size: 2rem;
      font-family: Inter;
    }

    .buttonsContainer {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      width: 100%;
      justify-content: center;
    }

    .yearButton {
      background-color: #000;
      border: none;
      border-radius: 50px;
      color: white;
      padding: 10px 20px;
      font-size: 1rem;
      padding: 20px 80px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
}

.calander {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.mainTitle {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-text);
}

.containerOverImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  background: var(--color-text);
  height: 4.5rem;
  color: var(--color-white);
  padding: 1rem;
  font-size: var(--font-size-small);
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  margin-top: -3rem;
  position: relative;
}

.smallText {
  font-size: var(--font-size-small);
}

.twoColumns {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.h3,
.h1 {
  font-family: Inter;
}

.h3 {
  font-weight: var(--font-weight-regular);
}
  