.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  background: var(--color-text);
  border-bottom: none;
  border-radius: var(--border-radius-tiny);
  font-size: 1rem;
  color: var(--color-white);
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;

  &:hover {
    background: var(--color-black200);
  }
}

.col40 {
  width: 40%;
}

.col60 {
  width: 60%;
}

.col50 {
  width: 50%;
}

.buttonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.mediaContainer {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  gap: 1rem;

  .sixty {
    width: 60%;
  }

  .fourty {
    width: 40%;
  }

  .image {
    border-radius: var(--border-radius-small);
    cursor: pointer;
    width: 100%;
    height: 20rem;
  }
}

.flexContainer {
  display: flex;
  gap: 2rem;
}

.h4 {
  font-size: var(--font-size-medium);
  font-weight: 400;
  max-width: 50ch;
}

.p {
  font-size: var(--font-size-regular);
}

.calander {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.eventHeading {
  width: 14.2%;
  background: var(--color-text);
  color: var(--color-white);
  display: flex;
  border-radius: 0.2rem;
  gap: 3rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;

  font-size: var(--font-size-small);
}

.eventStyle {
  background: var(--color-white200);
  border-radius: 0.2rem;
  border: 0.5px solid var(--color-text);
  width: 14.2%;
  padding: 0.5rem 1rem;
}

.eventBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-size-small);
}

.mainTitle {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-text);
}

.containerOverImage {
  display: flex;
  justify-content: space-between;
  background: var(--color-text);
  height: 3rem;
  color: var(--color-white);
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--font-size-small);
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  margin-top: -3rem;
  position: relative;
}
