.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.speakerContainer {
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;

  .logo {
    color: var(--color-blue);
    height: 12px;
    width: 12px;
  }

  .headshot {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }

  .firstName {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    text-decoration: none;
  }

  .spkrTitle {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-light);
    color: var(--color-black);
    text-decoration: none;
  }

  .col {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
  }
}

.link {
  color: var(--color-black);
  text-decoration: none;
}
