.container {
  border: 1px solid var(--color-black200);
  color: var(--color-white);
  border-radius: var(--border-radius-small);
}

.image {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);

  @media (max-width: 768px) {
    height: 15rem;
  }
}

.name {
  font-family: Inter;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
}

.price {
  font-family: Inter;
  font-size: var(--font-size-medium);
}

.description {
  max-width: 85ch;
  font-family: Inter;
}

.textContent {
  padding: 1.5rem 1rem;
}

.callToAction {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 0.5rem;

  @media (max-width: 900px) {
    display: grid;
    gap: 1rem;
  }
}
