.container {
  border: 1px solid var(--color-black200);
  background: var(--color-black200);
  color: var(--color-white);
  border-radius: var(--border-radius-small);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-small);
  border-top-right-radius: var(--border-radius-small);

  @media (max-width: 768px) {
    max-height: 15rem;
  }
}

.name {
  font-family: Inter;
  font-size: var(--font-size-medium);
}

.price {
  font-family: Inter;
  font-size: var(--font-size-medium);
}

.description {
  max-width: 85ch;
}

.textContent {
  padding: 1.5rem 1rem;
}

.callToAction {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-rainbow);
  border-radius: var(--border-radius-small);

  @media (max-width: 900px) {
    display: grid;
    gap: 1rem;
  }
}

.ctaLink {
  text-decoration: none;
  color: var(--color-white)
}

